ul.glv__list,
ul.glv__list .glv__listHeader,
ul.glv__list .glv__listItem {
    text-indent: 0;
    list-style: none;
    list-style-type: none;
}

.mx-listview > ul > li.glv__listHeader {
    background-color: #aaa;
    font-weight: 700;
    font-size: 1.2em;
}

.glv__listItem--link {
    cursor: pointer;
}

.glv__listHeader--sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
